/*-------------------------------------------------- 
leongaban.com's Master Stylesheet ------------------
----------------------------------------------------

===========================
CONTENTS:

00 Reset
01 Defaults
02 Header
03 Portfolio
04 Case Studies
05 Technology
06 Footer
07 Fixers
99 Media
XX Print Styles
===========================

    COLORS
    Orange        : #d74927;
    Twitter Blue  : #2daae1;
    Facebook Blue : #3b5998;
    Google Red    : #f63e28;
    LinkedIn Blue : #0073b2;
    Light Gray    : #ededed;

---------------------------------------------------- 
00 Reset -------------------------------------------
--------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/*-------------------------------------------------- 
01 Defaults ----------------------------------------
--------------------------------------------------*/
body { width: 100%; margin: 0 auto; font-family: Bitter, Georgia, serif;  background: #ededed; }


/*-------------------------------------------------- 
02 Header ------------------------------------------
--------------------------------------------------*/
div.outer {
    margin: 0 auto;
    min-width: 640px;
    height: auto;
}

#leon-home div.inner {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 630px;
    overflow: hidden;
    z-index: 1;
}

div.inner {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 770px;
    overflow: hidden;
    z-index: 1;
}

div.inner .pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('http://leongaban.com/images/pattern_diagonal_lines.png');
    background-repeat: repeat;
    z-index:2;
}

/* Showcase Navigation */
.pattern .showcase-nav {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.pattern .showcase-nav .previous-showcase {
    float: left;
}
.pattern .showcase-nav .next-showcase {
    float: right;
}

.pattern .showcase-nav .previous-showcase,
.pattern .showcase-nav .next-showcase {
    position: relative;
    width: 120px;
    height: 100%;
}
.pattern .showcase-nav .showcase-btn {
    position: relative;
    margin-top: 250%;
    padding-top: 30px;
    height: 50px;
    text-align: center;
    background: #FFF;
    opacity: .5;
    z-index: 6;
}

.pattern .showcase-nav a {
    color: #333;
    text-decoration: none;
}

.pattern .showcase-nav .showcase-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.pattern .showcase-nav .showcase-btn-shadow {
    position: relative;
    top: -420px;
    height: 100%;
    background: #000;
    opacity: .2;
}

#leon-home .video-div, .video-div {
    position: relative;
    width: 2000px;
    height: 1130px;
    margin: 0 auto;
    z-index: 1;
    
    background-size: cover;
}

.video-div {
    position: relative;
    width: 2000px;
    height: 1130px;
    /*min-width: 720px;*/
    margin: 0 auto;
    z-index: 1;
    background-size: cover;
}

#leon-home .video-div {
    background-image: url('http://leongaban.com/images/bg_light_clouds.jpg');
}

.video-div {
    background-image: url('http://leongaban.com/images/bg_dark_clouds.jpg');
}

.inner-mobile {
    width: 2000px;
    /*min-width: 720px;*/
    height: 100px;
    display: none;
}

div.inner-mobile .pattern-home {
    position: absolute;
    width: 100%;
    height: 620px;
    background-image:url('http://leongaban.com/images/bg_light_clouds.jpg');
    background-size:cover;
    z-index:2;
}
div.inner-mobile .pattern {
    position: absolute;
    width: 100%;
    height: 800px;
    background-image:url('http://leongaban.com/images/bg_dark_clouds.jpg');
    background-size:cover;
    z-index:2;
}

div.outerWrap { position:relative; z-index:2; }

#leon-home #main-header {
    width: 100%;
    height: 99px;
    margin: 0 auto;
    position:relative;
    z-index:4;
}

#main-header {
    width: 100%;
    height: 540px;
    margin: 0 auto;
    position:relative;
    z-index:4;
}

#logo-title h1, #logo-title h3 {
    font-weight: 400;
    font-style: italic;
}

#logo-title h1, #logo-title h2 {
    color: #414141;
    text-shadow: 1px 1px #fff;
}

#logo-title h1 { font-size: 2em; }
#logo-title h2 { line-height: 1.2em; font-size: 3.125em; font-weight: 700; }
#logo-title h3 { color: #414141; margin-top: 8px; font-size: 0.875em; }
#logo-title { width: 100%; margin: 60px auto; text-align: center; }

.avatar {
    width: 256px;
    height: 256px;
    margin-bottom: 20px;
    -webkit-border-radius: 128px;
    -moz-border-radius: 128px;
    -ms-border-radius: 128px;
    -o-border-radius: 128px;
    border-radius: 128px;
    -webkit-box-shadow: 0 0 0px 6px white, 0 0 0 8px #fff, 0 10px 0 #fff;
    -moz-box-shadow: 0 0 0px 6px white, 0 0 0 8px #fff, 0 10px 0 #fff;
    box-shadow: 0 0 0px 6px white, 0 0 0 8px #fff, 0 10px 0 #fff;
}

#main-nav {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 2px solid #ccc;
    background: white;
    opacity: 0.8;
}

#main-nav ul li { display: inline-block; list-style: none; padding: 30px 20px 20px;  }
#main-nav a { color: #414141; text-decoration: underline; }
#main-nav a:hover { text-shadow: 1px 1px #f8f8f8; text-decoration: none; }


/*-------------------------------------------------- 
03 Portfolio ---------------------------------------
--------------------------------------------------*/
#portfolio {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    z-index: 1;
}

#portfolio ul { list-style: none; }

.portfolio-nav { margin: 0 0 20px 0; }

.portfolio-nav h1 {
    padding: 30px 0 10px 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    color: #d74927;
    text-shadow: 1px 1px #ccc;
}

#showcase-holder {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* Portfolio Thumbs */
/* ------------------------------ */

#portfolio-thumbs {
    position: relative;
    float: left;
    list-style-type: none;
    margin: 0 0 40px 0;
    padding: 0 0 0 5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#portfolio-thumbs li {
    position: relative;
    float: left;
    width: 20%;
    margin: 1%;
    text-align: center;
    padding: 5px 5px 15px 5px;
    background-size: 100% auto;
    overflow: hidden;
    background: white;
    border: 1px solid #fff;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
}

#portfolio-thumbs li:hover {
    color: #fff;
    background: #d74927;
    border: 1px solid #c74324;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

#portfolio-thumbs li a {
    color: #333;
    text-decoration: none;
}

#portfolio-thumbs li p {
    padding: 10px 0 0 0;
}

#portfolio-thumbs li img.role-thumb {
    width: 95%;
    min-width: 170px;
    /*height: 95%;*/
    padding-top: 5px;
}

@media all and (max-width: 1035px) {
    #portfolio-thumbs li {
        width: 30%;
        margin: 0;
    }
    #portfolio-thumbs {
        float: left;
        list-style-type:none;
        padding: 0 0 0 1%;
    }
    #portfolio-thumbs li img.role-thumb {
        width: 80%;
        min-width: 150px;
    }
}

@media all and (max-width: 740px) {
    #portfolio-thumbs li {
        width: 45%;
        margin: 0;
    }
}

@media all and (max-width: 640px) {
    #portfolio-thumbs li {
        width: 100%;
    }
}

/* ------------------------------ */

/*.thumb {
    position: relative;
    float: left;
    width: 180px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    font-size: 0.875em;
    text-align: center;
    color: #666;
    background: white;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
}

.thumb > img { display: block; position: relative; margin-bottom:8px; border: 1px solid #ccc; }

.thumb:hover {
    color: #fff;
    background: #d74927;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}*/


/*-------------------------------------------------- 
04 Case Study --------------------------------------
--------------------------------------------------*/
/*@import url("showcases.css");*/
/* Header */
.showcase-thumbs {
    position: absolute; width: 100%; margin-top: 150px; text-align: center; }
.showcase-thumbs .first { position: relative; margin: 0 auto; z-index: 3; }
.showcase-thumbs .first img { -o-box-shadow: 1px 2px 20px #555; -moz-box-shadow: 1px 2px 20px #555; -webkit-box-shadow: 1px 2px 20px #555; box-shadow: 1px 2px 20px #555; }

/* left */
.showcase-thumbs .second { position: absolute; margin-top: 25px; left: 10%; top: 0px; z-index: 2; }
/* right */
.showcase-thumbs .third { position: absolute; margin-top: 25px; right: 10%; top: 0px; z-index: 1; }

#case-header {
    position:relative; width: 100%;
    /*height: 770px;*/
    height: 100px;
    margin: 0;
    padding: 0;
    z-index: 7;
    /*background: blue;*/
}
#case-header h1, #case-header h2 { font-weight: 400; font-style: italic; }
#case-header h1, #case-header h2, #case-header h3, #flash-header h1, #flash-header h2 { color: #fff; text-shadow: 1px 1px #414141; }
#case-header h1, #flash-header h1 { font-size: 2em; margin-bottom: 20px; }
#case-header h2, #flash-header h2 { font-size: 1.125em; font-weight: 400; }
#case-header #case-h1h2 { padding: 0 20px; }

#showcase-sony #case-header #case-h1h2 h1 {
    margin-top: -15px;
    font-size: 1em;
}

/* Content */
#case-study { position:relative; z-index:2; padding: 60px 0; width: 100%; height: 100%; background: #fff; border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; }
#case-study a { color: #d74927; }
#case-study a:hover { text-decoration: none; }
#case-container { max-width: 1000px; margin: 0 auto; }
#case-header { width: 100%; margin: 0 auto; text-align: center; z-index:6; }

#view-more-button, #view-more-button-sony { position: relative; top: 464px; }
#view-more-button .view-more-button, #flash-header .view-more-button-sony { height: 54px; padding: 0 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: solid 1px #ccc; font-family: Bitter, Georgia, serif; font-size: 1.125em; font-weight: 700; letter-spacing: -1px; color: #d74927; background: #fff; cursor: pointer; -webkit-transition: background .3s; -moz-transition: background .3s; -ms-transition: background .3s; transition: background .3s; }
#view-more-button .view-more-button:hover, #flash-header .view-more-button-sony:hover {color: #fff;background: #d74927;}

#case-study h1, #technology h1 { margin-bottom: 60px; font-size: 2em; text-align: center; color: #d74927; }
#case-study-description { max-width: 59%; padding: 0 2% 0; float: left; }
#case-study-description p { font-size: 1em; color: #666; line-height: 27px; margin-bottom: 30px; }
#case-study-description ul { list-style-position:outside; }
#case-study-description ul li { color: #666; padding: 0 0 10px 10px; margin: 0 0 0.2em 50px; }
#case-study-description .planning { padding: 0 0 5px 0; margin: 0 0 1em 0; list-style: none; color:#333; font-weight: bold; }
#case-study-extra { max-width: 35%; padding-right: 2%; float: right; }
#case-study-extra span { margin-top: 20px; font-family: Bitter, Georgia, serif; font-weight: 700; text-align: center; color: #5f5f5f; display: block; }
#case-nav {
    width: 100%;
    height: 100px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 1.5em;
    background: #fff;
}
#case-nav ul li { display: inline-block; list-style: none; padding: 30px 20px 20px;  }
#case-nav a { color: #d74927; text-decoration: underline; }
#case-nav a:hover { text-decoration: none; }

.sony-container {
    height: 0; 
}

.sony-container .sony-curtain-box {
    position: relative;
    top: 150px;
    width: 800px;
    height: 700px;
    margin: 0 auto;
    z-index: 10;
}

#case-study-sony {
    width: 100%;
    padding: 0 20px;
}

#case-study-sony p {
    font-size: 1em;
    color: #666;
    line-height: 27px;
    margin-bottom: 30px;
}

#showcase-nationwide #case-header #case-h1h2 h1 {
    margin-top: -15px;
    font-size: 1em;
}

#showcase-nationwide .showcase-thumbs { margin-top: 30px; }

/* Nationwide */
.nw-container {
    padding-bottom:200px;
    margin-bottom:200px;
}

.nw-curtain-box {
    padding-bottom:200px;
    margin-bottom:200px;
}



/*-------------------------------------------------- 
05 Technology --------------------------------------
--------------------------------------------------*/
#technology {
    clear: both;
    width: 100%;
    padding: 4em 0 10em;
    margin-top: 0 auto;
    text-align: center;
    background: #ededed;
    z-index:3;
}

#skills {
    max-width: 50%;
    padding: 0 20px;
    float: left;
}

#skills ul {
    margin-left: 20px;
    margin-bottom: 40px;
    color: #5f5f5f;
}

#skills ul li {
    text-align: left;
    line-height: 24px;
}

#skills .title {
    font-size: 1.2em;
    font-weight: bold;
    list-style: none;
    padding-bottom: 10px;
}

#call-to-action {
    max-width: 50%;
    padding-left: 0 20px;
    float: right;
}

#call-to-action ul li {
    list-style: none;
    margin: 0 20px 30px 0;
}

#call-to-action .cta-button {
    width: 259px;
    height: 54px;
    padding: 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    font-family: Bitter, Georgia, serif;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: -1px;
    color: #fff;
    background: #d74927;
    cursor: pointer;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
}

#call-to-action .cta-button:hover {
    color: #d74927;
    background: #fff;
    border: solid 1px #d74927;
}

footer #showcase-footer {
    padding: 0;
    margin: 0;
    clear: both;
}

/*-------------------------------------------------- 
06 Footer ------------------------------------------
--------------------------------------------------*/
footer {
    clear: both;
    width: 100%;
    padding: 4em 0 1em;
    /*margin: 0 auto;*/
    margin-top: 20px;
    background: #ededed;
}
footer h1 {
    padding-bottom: 10px;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    color: #d74927;
    text-shadow: 1px 1px #ccc;
}
footer p {
    padding: 0 20px;
    text-align: center;
    color: #333;
}
footer > ul { display: inline-block; }
footer ul li {
    float: left;
    list-style: none;
}

.social-links {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 30px 0 20px 0px;
}

.social-links img { margin-left: 5px; border: 3px solid #fff; -webkit-transition: background .5s; -moz-transition: background .5s; -ms-transition: background .5s; transition: background .5s }

.ico_facebook img,
.ico_twitter img,
.ico_google img,
.ico_linkedin img,
.ico_stackoverflow img,
.ico_codepen img { border-radius: 50%; width: 44px; height: 44px; background: #fff; background-position: top center }

.ico_facebook img { background: #3b5998; }
.ico_twitter img { background: #2daae1; }
.ico_google img { background: #f63e28; }
.ico_linkedin img { background: #0073b2; }
.ico_codepen img { background: #1b1c1b; }

.ico_facebook img,
.ico_twitter img,
.ico_google img,
.ico_linkedin img,
.ico_stackoverflow img,
.ico_codepen img { -webkit-transition: background .5s; -moz-transition: background .5s; -ms-transition: background .5s; transition: background .5s }

.ico_facebook img:hover { border: 3px solid #3b5998; }
.ico_twitter img:hover { border: 3px solid #2daae1; }
.ico_google img:hover { border: 3px solid #f63e28; }
.ico_linkedin img:hover { border: 3px solid #0073b2; }
.ico_stackoverflow img:hover { border: 3px solid #fff; }
.ico_codepen img:hover { border: 3px solid #1b1c1b; }

.ico_facebook img:hover,
.ico_twitter img:hover,
.ico_google img:hover,
.ico_linkedin img:hover { background: #fff; -webkit-transition: border 2s; -moz-transition: border 2s; -ms-transition: border 2s; transition: border 2s; -webkit-transition: background 1s; -moz-transition: background 1s; -ms-transition: background 1s; transition: background 1s }

.ico_stackoverflow img:hover {
    background: #dfdddd; -webkit-transition: border 2s; -moz-transition: border 2s; -ms-transition: border 2s; transition: border 2s; -webkit-transition: background 1s; -moz-transition: background 1s; -ms-transition: background 1s; transition: background 1s
}

.ico_codepen img:hover {
    background: #ccc; -webkit-transition: border 2s; -moz-transition: border 2s; -ms-transition: border 2s; transition: border 2s; -webkit-transition: background 1s; -moz-transition: background 1s; -ms-transition: background 1s; transition: background 1s
}

.the-form { width: 340px; margin: 0 auto 40px; font-weight: 400; color: #666; }

.the-form label {
    text-align: left;
}

.the-form input { width: 300px; height: 34px; margin: 10px 0 20px; padding: 0 20px 0 20px; font-family: Bitter, Georgia, serif; font-size: 16px; color: #d74927; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: solid 1px #ccc; }

.the-form input:focus, .the-form textarea:focus { border: dashed 1px #d74927; background: #fffeef; }

.the-form textarea { width: 300px; margin: 10px 0; padding: 20px; font-family: Bitter, Georgia, serif; font-size: 16px; color: #d74927; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: solid 1px #ccc; }

.the-form .submit-button { width: 340px; height: 64px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: solid 1px #ccc; font-style: italic; font-size: 32px; letter-spacing: -1px; color: #fff; text-shadow: 0 1px 1px #666; background: #d74927; cursor: pointer; -webkit-transition: background .3s; -moz-transition: background .3s; -ms-transition: background .3s; transition: background .3s }

.the-form .submit-button:hover { color: #d74927; text-shadow: 0 1px 1px #ccc; background: #f8f8f8 }

#copyright {
    width: 340px;
    margin: 20px auto;
    text-align:center;
    font-size: .7em;
    line-height: 1.5em;
    color: #666;
}

#copyright a { color: #666 }
#copyright a:hover { text-decoration: none }

/*-------------------------------------------------- 
07 Fixers ------------------------------------------
--------------------------------------------------*/
.cleared {
    clear: both;
}

/*-------------------------------------------------- 
99 Media-Queries -----------------------------------
--------------------------------------------------*/

/*** smaller than 980 ***/
@media screen and (max-width: 980px) {

    #logo-title h1 {
        font-size: 1.75em;
    }
    #main-header #logo-title h2 {
        font-size: 2.5em;
    }

    /*  SPECIAL CASES  */
    /* ````````````````````````````````````````*/
    
    /* Shabang */
    /*#showcase-shabang #case-header h1 { padding: 0 10px; }
    #showcase-shabang #case-h1h2 { padding: 20px 0 0 0; letter-spacing: -1px; }
    #showcase-shabang .showcase-thumbs .first { margin-top: 35px; }*/
    /*#showcase-shabang #view-more-button { margin-top: -4px; top: 57%; }*/
}

/*** m820 ***/
@media screen and (max-width: 820px) {

    #case-nav {
        height: 80px;
        padding-top: 20px;
    }

    #main-header #logo-title h2 {
        font-size: 2em;
    }
    
    /* Showcases */
    #case-h1h2 {
        padding: 20px 0;
    }
    #flash-header #flash-h1h2 {
        padding: 0 0 20px;
    }
    .showcase-thumbs .second, .showcase-thumbs .third { display:none; }

    #case-container {
        max-width: 100%;
    }
    #case-nav ul li {
        padding: 2% 20px 2%; 
    }
    #case-study-description {
        max-width: 100%;
        padding: 20px;
        margin: 0 auto;
        float: none;
    }
    #case-study-extra {
        max-width: 100%;
        margin-top: 20px auto;
        padding: 20px;
        text-align: center;
        float: none;
    }
    #case-study-extra img {
        width: auto;
        height: auto;
    }

    .view-more-button {
        margin: 0;
    }

    #view-more-button-sony {
        display:none;
    }

    /*  SPECIAL CASES  */
    /* ````````````````````````````````````````*/
    .sony-curtain-box { display: none; }
    #showcase-sony #case-header #case-h1h2 h1 {
        margin-top: -15px;
        font-size: 2em;
    }
    #showcase-sony .inner { display: none; }
    #showcase-sony .inner-mobile {
        position: relative;
        width: auto;
        height: 640px;
        display: block;
        z-index: 1;
    }
    #showcase-sony #view-more-button {
        top: 370px;
    }

    #showcase-nationwide .inner { display: none; }
    #showcase-nationwide .inner-mobile {
        position: relative;
        width: auto;
        height: 640px;
        display: block;
        z-index: 1;
    }
    #showcase-nationwide #case-header #case-h1h2 h1 {
        margin-top: -15px;
        font-size: 2em;
    }
    #showcase-nationwide .showcase-thumbs .first { margin-top: 100px; }
    #showcase-nationwide #view-more-button {
        top: 370px;
    }

    #showcase-shabang .showcase-thumbs .first { margin-top: 50px; }
}

/* m720 ~~~ MOBILE VIEW ~~~ */
@media screen and (max-width: 720px) {

    div.inner-mobile .pattern-home {
        height: 540px;
    }

    #leon-home #main-header {
        height: 105px;
    }

    #leon-home #main-nav {
        height: 75px;
        font-size: 1.2em;
        border-bottom: 2px solid white;
        padding: 20px 0 10px 0;
        margin: 0;
    }

    #leon-home .inner-mobile {
        position: relative;
        width: auto;
        height: 640px;
        display: block;
        z-index: 1;
    }

    #main-header { height: 490px; }
    #main-nav {
        height: 50px;
        font-size: 1.2em;
        border-bottom: 2px solid white;
        padding: 0 0 10px 0;
        margin: -20px 0 0 0;
    }
    #main-nav ul li { padding: 20px 20px 15px; }

    #logo-title h1, #logo-title h3 { font-weight: 400; font-style: italic; }
    #logo-title h1, #logo-title h2, #logo-title h3 { text-shadow: 1 1 #ccc; }
    #logo-title h1 { font-size: 1.6em; }
    #logo-title h2 { padding: 0 20px; line-height: 1.2em; font-size: 2em; font-weight: 700; }

    #logo-title h3 { padding: 0 20px; margin-top: 8px; font-size: .825em; }

    #logo-title { width: 100%; margin: 60px auto; text-align: center; }

    /* Hide Video background */
    .inner { display: none; }
    .inner-mobile {
        position: relative;
        width: auto;
        height: 740px;
        display: block;
        z-index:1;
    }
    
    #case-nav {
        height: 60px;
        font-size: 2em;
        margin-top: -20px;
        padding-top: 30px;
        font-size: 1em;
    }

    #case-container { max-width: 100%; }
    #case-header #case-h1h2, #flash-header #flash-h1h2 { padding: 0 20px 0 20px; }
    #case-header h1 { margin: 0; font-size: 1.75em; line-height: 1.5em; }
    #case-header h2 { margin: 0; }
    .inner-mobile .pattern .showcase-thumbs { padding: -100px 0 0 0; }
    #skills { max-width: 100%; margin: 20px; padding-left: 25%; float: none; }
    #call-to-action { max-width: 100%; padding: 20px; float: none; }

    div.inner-mobile .pattern {
        top: 70px;
    }

    /*  SPECIAL CASES  */
    /* ````````````````````````````````````````*/
    #showcase-athenasweb .showcase-thumbs .first,
    #showcase-chipestimate .showcase-thumbs .first,
    #showcase-howdini .showcase-thumbs .first,
    #showcase-humblyhealthy .showcase-thumbs .first,
    #showcase-sblemons .showcase-thumbs .first
    #showcase-langopoly .showcase-thumbs .first {
        
    }

    #showcase-shabang .showcase-thumbs .first {
        
    }

    #showcase-chipestimate #view-more-button,
    #showcase-komen #view-more-button,
    #showcase-oohlala #view-more-button,
    #showcase-tsw #view-more-button,
    #showcase-tvp #view-more-button {
        
    }

    /* ````````````````````````````````````````*/

    /* Technology */
    #technology { padding: 4em 0 2em; }

    footer { padding: .5em; width: 100%; }

    /* Sony */
    .sony-curtain-box { display: none; }

    #flash-header { height: 550px; }
    #flash-h1h2 { position: relative; width: 80%; margin-top: -100px; }
    #flash-header .view-more-button-sony { display: block; width: 50%; margin: 60px auto 0; text-align: center; }
    #flash-header #flash-h1h2 { padding: 40px 0 20px; }

    .the-form input, .the-form textarea { width: 80%; }
    .the-form .submit-button { width: 95%; }
}

/* m640 ~~~ iPhone 4+ view ~~~ */
@media screen and (max-width: 640px) {

    #case-nav ul li { padding: 10px 20px; }
    #logo-title h3 { display: none; }

    /* Showcases */    
    .video-div { display: none; }

    #case-header {}
    #case-header #case-h1h2, #flash-header #flash-h1h2 { padding: 20px 20px 0 20px; }
    #case-header h1, #technology h1, #flash-header h1 { margin-bottom: 10px; font-size: 1.5em; padding: 0 40px; }
    #case-header h2, #flash-header h2 { font-size: 1em; margin-bottom: 0; }

    .mobile-shadow {
        display: block;
        position: relative;
        top: 570px;
        width: 100%;
        height: 100px;
        background-color:rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    #showcase-sony .mobile-shadow {
        top: 470px;
    }

    #view-more-button { top: 60%; }

    #view-more-button .view-more-button {
        width: 90%;
        height: 55px;
        padding: 0 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: solid 2px #d74927;
        font-family: Bitter, Georgia, serif;
        font-size: 1.125em;
        font-weight: 700;
    }

    #flash-header .view-more-button-sony { display: none; }

    /* All Showcases */
    #showcase-athenasweb #case-h1h2,
    #showcase-chipestimate #case-header #case-h1h2,
    #showcase-howdini #case-header #case-h1h2,
    #showcase-humblyhealthy #case-header #case-h1h2,
    #showcase-komen #case-header #case-h1h2,
    #showcase-langopoly #case-header #case-h1h2,
    #showcase-nationwide #case-header #case-h1h2,
    #showcase-sblemons #case-header #case-h1h2,
    #showcase-shabang #case-header #case-h1h2,
    #showcase-sony #case-header #case-h1h2,
    #showcase-tsw #case-header #case-h1h2,
    #showcase-tvp #case-header #case-h1h2 { width: 100%; padding: 0; }

    #showcase-athenasweb .showcase-thumbs .first,
    #showcase-chipestimate .showcase-thumbs .first,
    #showcase-shabang .showcase-thumbs .first,
    #showcase-howdini .showcase-thumbs .first,
    #showcase-humblyhealthy .showcase-thumbs .first,
    #showcase-komen .showcase-thumbs .first,
    #showcase-langopoly .showcase-thumbs .first,
    #showcase-sblemons .showcase-thumbs .first,
    #showcase-sony .showcase-thumbs .first,
    #showcase-tsw .showcase-thumbs .first,
    #showcase-tvp .showcase-thumbs .first  { margin-top: -100px; }

    /* Nationwide */
    #showcase-nationwide .showcase-thumbs .first { margin-top: 40px; }
    #showcase-nationwide #view-more-button { margin-top: 10px; }
    #showcase-nationwide .mobile-shadow { top: 470px; }

    #view-more-button {
        margin-top: 415px;
    }
}