@import "reset";

/*-------------------------------------------------- 
Who@'s Master Stylesheet ---------------------------
----------------------------------------------------

====================================================
CONTENTS:


001 

0XX Print Styles
====================================================

/*-------------------------------------------------- 
01 Defaults ----------------------------------------
--------------------------------------------------*/

$blue_color: #006497;

body {
	margin: 40px;
	font-family: 'Fauna One', serif;
}

input {
	margin-bottom: 40px;
}

ul > li {
	padding: 10px;
}